<div>
    <h1>Bienvenido usuario: {{name}}</h1>
    <h1>Tu rol es: {{role}}</h1>
     <button class="logout" onclick="logout()">Cerrar sesión</button>
    {{#if isAdmin}}
        <a href="/users" class="button">Administrar usuarios</a></span>
    {{/if}}
    <h1 class="titleForm">Crear un nuevo producto</h1>
    <div class="productForm">
        <input type="hidden" name="userRole" id="userRole" value="{{role}}">
        <input type="hidden" name="userEmail" id="userEmail" value="{{email}}">
        <label for="productTitle">Título del producto:</label><br>
        <input type="text" id="productTitle" name="productTitle"><br>
        <label for="productDescription">Descripción del producto:</label><br>
        <input type="text" id="productDescription" name="productDescription"><br>
        <label for="productCategory">Categoria del producto:</label><br>
        <input type="text" id="productCategory" name="productCategory"><br>
        <label for="productPrice">Precio del producto:</label><br>
        <input type="text" id="productPrice" name="productPrice"><br>
        <label for="productCode">Código del producto:</label><br>
        <input type="text" id="productCode" name="productCode"><br>
        <label for="productStock">Stock del producto:</label><br>
        <input type="text" id="productStock" name="productStock"><br>
        <button class="add-product" onclick="addProduct()">Crear producto</button>
    </div>
   <div class="product-grid" id="product-grid">
    {{#each products}}
        <div class="product-card" id="productId{{this._id}}">
            <h2>{{this.title}}</h2>
            <p>ID: {{this._id}}</p>
            <p>Categoria: {{this.category}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Código: {{this.code}}</p>
            <p>En stock: {{this.stock}}</p>
            <button class="delete-product" onclick="deleteProduct('{{this._id}}');">Eliminar</button>
        </div>
    {{/each}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>