<div>
  <h1>Bienvenido usuario: {{name}}</h1>
  <h1>Tu rol es: {{role}}</h1>
  <button class="logout" onclick="logout()">Cerrar sesión</button>
  <button class="cart" onclick="goToCart('{{cartId}}')">Ver carrito</button>
  <div class="product-grid" id="product-grid">
    {{#each products}}
      <div class="product-card" id="productId{{this._id}}">
        <h2>{{this.title}}</h2>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <a href="/productDetail/{{this._id}}">
          <button class="product-detail">Ver detalle</button>
        </a>
      </div>
    {{/each}}
  </div>

  <div class="pagination">
    {{#if hasPrevPage}}
      <a href="?page={{prevPage}}&limit={{limit}}">Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="?page={{nextPage}}&limit={{limit}}">Siguiente</a>
    {{/if}}
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>
<script src="/js/session.js"></script>