 <div class="product-grid" id="product-grid">
        <div class="product-card" id="productId{{_id}}">
            <h2>{{title}}</h2>
            <p>ID: {{_id}}</p>
            <p>Categoria: {{category}}</p>
            <p>Precio: {{price}}</p>
            <p>Descripción: {{description}}</p>
            <p>Código: {{code}}</p>
            <p>En stock: {{stock}}</p>
        </div>
    </div>