<div class="product-grid" id="product-grid">
  <div class="product-card" id="productId{{_id}}">
    <h2>{{title}}</h2>
    <p>Categoria: {{product.category}}</p>
    <p>Precio: {{product.price}}</p>
    <p>Descripción: {{product.description}}</p>
    <p>Código: {{product.code}}</p>
    <p>En stock: {{product.stock}}</p>
    <button class="add-cart">Agregar al carrito</button>
  </div>
</div>